.game-div-clz{
    display: inline-block;
    position: relative;
}
.game-clz{
    font-size: medium;
    text-decoration: none;

}
.game-clz:link {
    color: black;
}

.game-clz:hover {
    color: burlywood;
}
.game-span{
    text-align: left;
    color: #bbb9b6;
    font-size: large;
    position: absolute;
    display: block;
    margin: auto;
    bottom: 200px;
}
.game-img {
    height: 103px;
    width: 184px;
}
.game-img1 {
    margin: auto;
    height: 208px;
    width: 150px;
    display: block;
}
.game-img2 {
    position: absolute;
    left: 20px;
    height: 199px;
    width: 296px;
    display: block;
    border: red solid 2px;
}
.icon {
    width: 50px;
    height: 50px;
}

.game-link-font {
    position: Absolute;
    display: block;
    width: 150px;
    left: 55px;
    top: 10px;
}

.game-link {

    height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: x-large;
}

.game-link-all {
    position: Absolute;
    display: block;
    right: 55px;
    top: 13px;
    display: inline-block;
    text-decoration: none;
    font-size: large;
}

.game-icon1 {
    position: relative;
    height: 60px;
    text-align: left;
    margin-left: 0px;
    padding: 0px;
}

.game-link:link {
    color: black;
}

.game-link:hover {
    color: burlywood;
}

.game-link-all:link {
    color: #bbb9b6;
}

.game-link-all:hover {
    color: burlywood;
}

.game-top {
    margin: auto;
    width: 1240px;
    height: 304px;
    background: white;
    text-align: center;
}
.game-bottom {
    margin: auto;
    width: 1240px;
    height: 582px;
    background: antiquewhite;
    text-align: center;
}
.game-top-div {
    margin-left: 10px;
    float: left;
    height: 304px;
    width: 400px;
    padding: 0px;
}
.game-bottom-left{
    width: 866px;
    height: 582px;
    background: white;
    float: left;
}
.game-bottom-right{
    position: relative;
    width: 354px;
    height: 582px;
    background: white;
    float: right;
}
body, p, form, ul, li, table, tr, td, div {
    margin: 0;
    padding: 0;
    list-style: none
}

body {
    background: antiquewhite;
}